{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="form-group">
    <label for="name">Name</label>
    {{ form_widget(form.username, { 'attr': {'class': 'form-control','id' : 'name'} }) }}
</div>
<div class="form-group">
    <label for="email">Email</label>
    {{ form_widget(form.email, { 'attr': {'class': 'form-control','id' : 'email'} }) }}
</div>
<div class="form-group">
    <label for="password">Password</label>
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','id' : 'password'} }) }}
</div>
<div class="form-group">
    <label for="password">Password</label>
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','id' : 'password'} }) }}
</div>
<div class="form-group" hidden>
    <label for="name">Name</label>
    {{ form_widget(form.roles, { 'attr': {'class': 'form-control','hidden' : 'hidden'} }) }}
</div>
<div class="text-center">
    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
</div>
{{ form_end(form) }}
